/* Lg/Regular */
.lg-regular {
	font-family: Avenir, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 30px;
}

/* Lg/Light */
.lg-light {
	font-family: Avenir, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 350;
	line-height: 30px; /* 125% */
}

/* Lg/Semibold */
.lg-semibold {
	font-family: Avenir, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 800;
	line-height: 30px; /* 125% */
}

/* Lg/Bold */
.lg-bold {
	font-family: Avenir, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: 30px; /* 125% */
}

/* Md/Light */
.md-light {
	font-family: Avenir, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 350;
	line-height: 26px; /* 130% */
}

/* Md/Regular */
.md-regular {
	font-family: Avenir, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px; /* 130% */
}

/* Md/Semibold */
.md-semibold {
	font-family: Avenir, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	line-height: 26px; /* 130% */
}

/* Md/Bold */
.md-bold {
	font-family: Avenir, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 900;
	line-height: 26px; /* 130% */
}

/* Sm/Light */
.sm-light {
	font-family: Avenir, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 350;
	line-height: 24px; /* 133.333% */
}

/* Sm/Regular */
.sm-regular {
	font-family: Avenir, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 133.333% */
}

/* Sm/Semibold */
.sm-semibold {
	font-family: Avenir, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	line-height: 24px; /* 133.333% */
}

/* Sm/Bold */
.sm-bold {
	font-family: Avenir, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 900;
	line-height: 24px; /* 133.333% */
}

/* Xs/Light */
.xs-light {
	font-family: Avenir, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 350;
	line-height: 20px; /* 125% */
}

/* Xs/Regular */
.xs-regular {
	font-family: Avenir, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
}

/* Xs/Semibold */
.xs-semibold {
	font-family: Avenir, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 800;
	line-height: 20px; /* 125% */
}

/* Xs/Bold */
.xs-bold {
	font-family: Avenir, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 900;
	line-height: 20px; /* 125% */
}

/* Xxs/Light */
.xxs-light {
	font-family: Avenir, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 350;
	line-height: 16px; /* 123.077% */
}

/* Xxs/Regular */
.xxs-regular {
	font-family: Avenir, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px; /* 123.077% */
}

/* Xxs/Semibold */
.xxs-semibold {
	font-family: Avenir, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 800;
	line-height: 16px; /* 123.077% */
}

/* Xxs/Bold */
.xxs-bold {
	font-family: Avenir, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 900;
	line-height: 16px; /* 123.077% */
}

/* LP Headline/H1 */
.lp-headline-h1 {
	font-family: Avenir LT Std, sans-serif;
	font-size: 68px;
	font-style: normal;
	font-weight: 750;
	line-height: 80px; /* 117.647% */
}

/* LP Headline/H2 */
.lp-headline-h2 {
	font-family: Avenir LT Std, sans-serif;
	font-size: 60px;
	font-style: normal;
	font-weight: 750;
	line-height: 68px; /* 113.333% */
}

/* LP Headline/H3 */
.lp-headline-h3 {
	font-family: Avenir LT Std, sans-serif;
	font-size: 48px;
	font-style: normal;
	font-weight: 750;
	line-height: 56px; /* 116.667% */
}

/* LP Headline/H4 */
.lp-headline-h4 {
	font-family: Avenir LT Std, sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 750;
	line-height: 40px; /* 125% */
}

/* LP Headline/H5 */
.lp-headline-h5 {
	font-family: Avenir LT Std, sans-serif;
	font-size: 28px;
	font-style: normal;
	font-weight: 750;
	line-height: 34px; /* 121.429% */
}
/* Headline/H1 */
.headline-h1 {
	font-family: Avenir LT Std, sans-serif;
	font-size: 28px;
	font-style: normal;
	font-weight: 750;
	line-height: 34px; /* 121.429% */
}

/* Headline/H 2 */
.headline-h2 {
	font-family: Avenir LT Std, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 750;
	line-height: 30px; /* 125% */
}

/* Headline/H 3 */
.headline-h3 {
	font-family: Avenir LT Std, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 750;
	line-height: 26px; /* 130% */
}

/* Headline/H 4 */
.headline-h4 {
	font-family: Avenir LT Std, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 750;
	line-height: 24px; /* 133.333% */
}

.pointer {
	cursor: pointer;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}
