.layout-sider {
	min-height: 100vh !important;
	min-height: -webkit-fill-available !important;
	overflow: auto;
	position: fixed !important;
	left: 0;
	top: 0;
	bottom: 0;
	padding: 8px 0;
	box-sizing: border-box;
	z-index: 10;
}

.layout-logo {
	margin: 0 auto;
	width: 48px;
	height: 48px;
	object-fit: contain;
}
